<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="post-heading">
                        <h1 class="page-header">IMPACT 2016
                            <small>June 1 – 3, 2016</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li class="active">IMPACT 2016</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>About IMPACT 2016</h3>
                    <p>Square Foot Ministry IMPACT, now in its 12th year, offers a mission opportunity specifically designed to help young people discover anew what it means to be part of the body of Christ. As participants in our IMPACT program, they are able to help needy people in a unique way. Through that experience, they are also guided to find some of the answers they have begun to seek.  Both church youth groups and individuals are encouraged to participate. This year’s event will begin with a kick-off on Tuesday, June 2. Work days will follow on Wednesday through Friday, June 3-5.</p>
                    <h3>Work Teams</h3>
                    <p>Youth leaders will accompany small groups of young people to several work sites each morning. A very nice lady will circulate among the groups, checking that all necessary equipment and supplies are available and seeing to it that everyone has a delicious and nourishing lunch. You will recognize this lady by her signature curly red hair.</p>
                    <h3>We need your help!</h3>
                    <b>You can help support the IMPACT in a number of ways:</b>
                    <ul>
                        <li>Organize a youth group from your church to participate in IMPACT 2015.</li>
                        <li>Make a donation to support IMPACT. SFM is a 501(c)(3) nonprofit organization. Your contribution is tax-deductible.</li>
                        <li>Help us identify families in our community who need our services, and give them the information they need to contact us.</li>
                        <li>Help us build our network of financial support by letting us know of potential funding sources for IMPACT.</li>
                        <li>Recommend us to other individuals or organizations who may be interested in hearing more about our work.</li>
                    </ul>
                    <h3>IMPACT 2016 Projects</h3>
                    <ul>
                        <li>House Framing in Griffin Georgia</li>
                        <li>Wellsprings </li>
                        <li>Mid-West Food bank</li>
                        <li>St. Mary Magdalene Catholic Church Food Bank Construction</li>
                        <li>Bloom</li>
                        <li>PLUS others in the community</li>
                    </ul>
                    <h3>IMPACT 2016 Schedule</h3>
                    <b>Tuesday June 2</b>
                    <ul>
                        <li>Kick off Dinner @ Fayetteville Christian Church 6 PM-9 PM</li>
                    </ul>
                    <b>Wednesday June 3</b>
                    <ul>
                        <li>Breakfast @ Fayetteville First UMC 8 AM</li>
                        <li>Leave for worksites after breakfast</li>
                        <li>Return to Fayetteville First for pick up at 3:00-3:30 PM</li>
                        <li>Wednesday Evening Dinner and Fellowship @ Fayetteville Christian Church 6 PM-9 PM</li>
                    </ul>
                    <b>Thursday June 4</b>
                    <ul>
                        <li>Breakfast @ Fayetteville First UMC 8 AM</li>
                        <li>Leave for worksites after breakfast </li>
                        <li>Return to Fayetteville First for pick up at 3:00-3:30 PM</li>
                        <li>Thursday Evening Dinner and Fellowship @ Fayetteville Christian Church 6 PM-9 PM</li>
                    </ul>
                    <b>Friday June 5</b>
                    <ul>
                        <li>Breakfast @ Fayetteville First UMC 8 AM</li>
                        <li>Leave for worksites after breakfast</li>
                        <li>Friday Afternoon all groups will meet for a Wrap Up Cookout and Program</li>
                        <li>Return to Fayetteville First for pick up</li>
                    </ul>
                </div>
            </div>
        </div>
    </article>

<br>

    <!-- Footer -->
    <div class="container marketing">
        <footer>
            <div class="row">
                <div class="col-lg-8">
                    <p>Copyright &copy; Square Foot Ministry 2014</p>
                </div>
            </div>
        </footer>
        <br>
    </div>


    <!-- jQuery -->
    <script src="./stylesheets/jquery.min.js"></script>
    <script src="./stylesheets/bootstrap.min.js"></script>
    <script src="./stylesheets/docs.min.js"></script>
