<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="post-heading">
                        <h1>Upcoming Events</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h2 class="section-heading">Veterans Build 2015</h2>

                    <p>Veterans Build for disabled and homeless Veterans. Help today by volunteering, donating, or nominating.
                    Nominate, Volunteer, Donate
                    Each year many of the families of those who protect us through serving in the armed forces find themselves in need of aid. For most the need is short term and is met. For others the need can last a life time, due to a loss of life or disabling injury to the family member serving. Needs that can last a lifetime can include long term care medial attention, homelessness and financial need. Square Foot Ministry is devoted to help these Veterans!</p>

                    <h2 class="section-heading">Safe Home Healthy Home</h2>

                    <p>Square Foot Ministry is dedicated to helping needy individuals and families of our community through its Safe Home Healthy Home Program (SH3). SH3 serves the community by creating safe, healthy living conditions for members of disadvantaged populations, including the elderly, the disabled, and the working poor, who are unable to pay for or perform repairs on their homes. The goal of SH3 is to provide emergency home repairs to keep residents safe, secure, and in a dry environment and to provide home modifications to create accessibility for the disabled.</p>

                    <p>To apply for help with an emergency repair or installation of a wheel chair ramp, download an application and send the completed application to SFM by mail or email.</p>

                    <h2 class="section-heading">IMPACT 2015</h2>

                    <p>How do I register to participate in IMPACT 2015? Click here to download the IMPACT 2015 Registration Form for Youth. To download the IMPACT 2015 Registration Form for Adults, click here. Return completed form by May 24, 2015 to Brenda Schachle at impact@squarefootministry.org or to Brenda Schachle, Square Foot Ministry, P. O. Box 371, Fayetteville, GA 30214.</p>

                    <p>What is the schedule IMPACT 2015? What can I expect? Next year's tentative schedule is below. Breakfast, lunch, and dinner will be provided by Square Foot Ministry. Evening programs on Tuesday through Thursday will be held at a local church. Breakfast will be held Wednesday through Friday mornings at Fayetteville First United Methodist Church on the square in Fayetteville. After a day's work in Griffin, we will have a cookout on Friday afternoon in Griffin to wrap up the week's adventures. </p>
                </div>
            </div>
        </div>
    </article>

<br>

    <!-- Footer -->
    <div class="container marketing">
        <footer>
            <div class="row">
                <div class="col-lg-8">
                    <p>Copyright &copy; Square Foot Ministry 2014</p>
                </div>
            </div>
        </footer>
        <br>
    </div>


    <!-- jQuery -->
    <script src="./stylesheets/jquery.min.js"></script>
    <script src="./stylesheets/bootstrap.min.js"></script>
    <script src="./stylesheets/docs.min.js"></script>
