<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="post-heading">
                        <h1>SH3</h1>
                        <h2 class="subheading">Safe Home Healthy Home</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Square Foot Ministry is dedicated to helping needy individuals and families of our community through its Safe Home Healthy Home Program (SH3). SH3 serves the community by creating safe, healthy living conditions for members of disadvantaged populations, including the elderly, the disabled, and the working poor, who are unable to pay for or perform repairs on their homes.  The goal of SH3 is to provide emergency home repairs to keep residents safe, secure, and in a dry environment and to provide home modifications to create accessibility for the disabled.</p>

                    <p>To apply for help with an emergency repair or installation of a wheel chair ramp, <a href="http://squarefootministry.org/Minor%20Home%20Repair%20Application.pdf">download an application</a> and send the completed application to SFM by mail or email.</p>
                </div>
            </div>
        </div>
    </article>

<br>

    <!-- Footer -->
    <div class="container marketing">
        <footer>
            <div class="row">
                <div class="col-lg-8">
                    <p>Copyright &copy; Square Foot Ministry 2014</p>
                </div>
            </div>
        </footer>
        <br>
    </div>


    <!-- jQuery -->
    <script src="./stylesheets/jquery.min.js"></script>
    <script src="./stylesheets/bootstrap.min.js"></script>
    <script src="./stylesheets/docs.min.js"></script>
